<!--
<mat-form-field class="input-container" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
     matInput 
    [name]="label"
    [formControl]="control"
    ngDefaultControl
    [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of horariosDisponiveis" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
</mat-form-field>
-->

<div class="mb-3">
  <label for="selectHorarios" class="form-label">{{label}}</label>
  <select id="selectHorarios" class="form-select" [formControl]="control">
    <option *ngFor="let horario of horariosDisponiveis" [value]="horario" ngDefaultControl="horario">{{ horario }}</option>
  </select>
</div>
