<!--
<app-container>
    <mat-card>
        <form [formGroup]="formAgendamento">
            <mat-card-title>
                Agende seu horário
            </mat-card-title>

            <mat-card-content>
                <div class="grid-container">
                    <div class="grid-item">
                        <mat-card class="calendar-card">
                            <mat-calendar [(selected)]="dataSelecionada"
                                (selectedChange)="buscarHorariosDisponiveisNaData()">
                            </mat-calendar>
                        </mat-card>
                        <mat-error
                            *ngIf="formAgendamento.get('data')?.errors?.['required'] && formAgendamento.get('data')?.touched">
                            Escolha uma data.
                        </mat-error>
                    </div>

                    <div class="grid-item">
                        <app-dropdown label="Barbeiro" [control]="barbeiroControl"></app-dropdown>
                        <mat-error *ngIf="barbeiroControl?.errors && barbeiroControl?.touched">
                            Escolha um barbeiro para prosseguir.
                        </mat-error>
                        <app-dropdown-horario
                            (click)="atualizarHorariosDeAcordoComHorariosDisponiveisDoBarbeiroEscolhido()"
                            [horariosDisponiveis]="horarios" label="Horário"
                            [control]="horarioControl"></app-dropdown-horario>
                        <mat-error *ngIf="horarioControl?.errors && horarioControl?.touched">
                            Escolha um horário.
                        </mat-error>

                        <mat-card-actions class="full-width">
                            <button mat-flat-button [disabled]="formAgendamento.invalid" color="primary"
                                (click)="agendar()">
                                AGENDAR
                            </button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</app-container>
-->

<form [formGroup]="formAgendamento" class="container text-light p-4 pb-5">
    <legend class="text-center">
        <h2>Agende seu horário</h2>
    </legend>
    <div class="mb-3">
        <label for="nascimento" class="form-label">Data de Nascimento</label>
        <input type="date" id="nascimento" class="form-control" placeholder="Data de Nascimento"
            [(ngModel)]="dataSelecionada" [ngModelOptions]="{standalone: true}"
            (change)="buscarHorariosDisponiveisNaData()">
        <mat-error *ngIf="formAgendamento.get('data')?.errors?.['required'] && formAgendamento.get('data')?.touched">
            Escolha uma data.
        </mat-error>
    </div>

    <div class="mb-3">
        <app-dropdown label="Barbeiro" [control]="barbeiroControl"></app-dropdown>
        <mat-error *ngIf="barbeiroControl?.errors && barbeiroControl?.touched">
            Escolha um barbeiro para prosseguir.
        </mat-error>
    </div>

    <div class="mb-3">
        <app-dropdown-horario (click)="atualizarHorariosDeAcordoComHorariosDisponiveisDoBarbeiroEscolhido()"
            [horariosDisponiveis]="horarios" label="Horário" [control]="horarioControl"></app-dropdown-horario>
        <mat-error *ngIf="horarioControl?.errors && horarioControl?.touched">
            Escolha um horário.
        </mat-error>
    </div>

    <button class="btn btn-outline-light w-100" [disabled]="formAgendamento.invalid" (click)="agendar()">
        AGENDAR
    </button>

</form>
<app-error-message [errorMessage]="mensagemErro"></app-error-message>