<app-container>
    <mat-card>
        <form>
            <mat-card-title>
                Agende seu horário
            </mat-card-title>

            <mat-card-content>
                <div class="grid-container">
                    <div class="grid-item">
                        <mat-card class="calendar-card">
                            <mat-calendar
                             [(selected)]="dataSelecionada"
                            (selectedChange)="buscarHorariosDisponiveisNaData()">
                        </mat-calendar>
                        </mat-card>
                    </div>

                    <div class="grid-item">
                        <app-dropdown label="Barbeiro"></app-dropdown>
                        <app-dropdown-horario [horariosDisponiveis]="horarios" label="Horário"></app-dropdown-horario>
                        
                        <mat-card-actions class="full-width">
                            <button mat-flat-button [disabled]="false" color="primary">
                                AGENDAR
                            </button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</app-container>