<header class="app-header">
    <mat-toolbar>
        <img routerLink="/" src="" alt="Logo da aplicação Bravos">
        <span class="spacer"></span>
        <div class="links-toobar">
            <button mat-button>Agendar horário</button>
            <button mat-button>Sobre</button>
            <button routerLink="/cadastro" mat-raised-button color="primary">CADASTRE-SE</button>
            <button routerLink="/login" mat-stroked-button>LOGIN</button>
        </div>
    </mat-toolbar>
</header>