<!--
<header class="app-header">
    <mat-toolbar>
        <button mat-button routerLink="/">
            <div class="tituloHeader">
                <h1>Bravos Barber</h1>
            </div>
        </button>

        <span class="spacer"></span>

        <div class="links-toobar">
            <button routerLink="/agendar" mat-button>Agendar horário</button>
            <button mat-button>Sobre</button>

            <ng-container *ngIf="user$ | async as pessoaUsuaria, else login">
                <a routerLink="/perfil">
                    <img src="../../../assets/icones/user.png" alt="Ícone de usuário">
                </a>
                <button mat-stroked-button (click)="logout()">SAIR</button>
            </ng-container>

            <ng-template #login>
                <button routerLink="/cadastro" mat-raised-button color="primary">CADASTRE-SE</button>
                <button routerLink="/login" mat-stroked-button>LOGIN</button>
            </ng-template>
        </div>
    </mat-toolbar>
</header>
-->

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand p-3" routerLink="/">
            Bravos Barber
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/agendar">Agendar horário</a>
                </li>
                
                <ng-container *ngIf="user$ | async as pessoaUsuaria, else login">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{nomeUsuario}}
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" routerLink="/agenda">Meus Agendamentos</a></li>
                        </ul>
                      </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-secondary" (click)="logout()">SAIR</button>
                    </li>
                </ng-container>

                <ng-template #login>
                    <li class="nav-item">
                        <button type="button" class="btn btn-light" routerLink="/cadastro">CADASTRE-SE</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-secondary" routerLink="/login">LOGIN</button>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>