<!--
<app-container>
    <mat-card>
        <form [formGroup]="cadastroForm">
            <mat-card-title>
                {{titulo}}
            </mat-card-title>

            <section>
                <div class="acoesPerfil" *ngIf="perfilComponent">
                    <h2>Dados pessoais</h2>
                    <button (click)="deslogar()" mat-stroked-button color="primary">
                        <mat-icon>logout</mat-icon>
                        DESLOGAR
                    </button>
                </div>
            </section>

            <mat-card-content>
                <div class="grid-container">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" placeholder="Nome">
                        <mat-error *ngIf="cadastroForm.get('nome')?.errors">Nome é obrigatório</mat-error>
                    </mat-form-field>

                    <div class="grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>Data de Nascimento</mat-label>
                            <input matInput formControlName="nascimento" [matDatepicker]="nascimento"
                                placeholder="Data de Nascimento">
                            <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
                            <mat-datepicker #nascimento></mat-datepicker>
                            <mat-error *ngIf="cadastroForm.get('nascimento')?.errors?.['required']">
                                Data de Nascimento é obrigatória
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>Telefone</mat-label>
                            <input matInput formControlName="telefone" placeholder="+XX XXXX-XXXX" maxlength="11">
                            <mat-error *ngIf="cadastroForm.get('telefone')?.errors">Telefone é obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </mat-card-content>

            <mat-divider *ngIf="perfilComponent"></mat-divider>

            <div class="acessoPerfil" *ngIf="perfilComponent">
                <h2>Dados de acesso</h2>
            </div>

            <mat-card-content>
                <div class="grid-container">
                    <div class="grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
                            <mat-error *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é
                                obrigatório</mat-error>
                            <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input matInput formControlName="senha" type="password" placeholder="Digite sua senha">
                            <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['required']">Senha é
                                obrigatória</mat-error>
                            <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['minlength']">Senha deve ter pelo
                                menos 3 caracteres</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirmar E-mail</mat-label>
                            <input matInput formControlName="confirmarEmail" placeholder="Digite seu e-mail novamente">
                            <mat-error *ngIf="cadastroForm.get('confirmarEmail')?.errors?.['required']">Confirmação de
                                E-mail é obrigatória</mat-error>
                            <mat-error *ngIf="cadastroForm.get('confirmarEmail')?.errors?.['email']">E-mail
                                inválido</mat-error>
                            <mat-error *ngIf="cadastroForm.get('confirmarEmail')?.errors?.['equalTo']">E-mail`s precisam
                                ser iguais</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirmar Senha</mat-label>
                            <input matInput formControlName="confirmarSenha" type="password"
                                placeholder="Repita sua senha">
                            <mat-error *ngIf="cadastroForm.get('confirmarSenha')?.errors?.['required']">Confirmação de
                                Senha é obrigatória</mat-error>
                            <mat-error *ngIf="cadastroForm.get('confirmarSenha')?.errors?.['equalTo']">Senhas precisam
                                ser iguais</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-checkbox *ngIf="!perfilComponent" formControlName="aceitarTermos" color="primary"
                    class="full-width">Li e aceito os termos e
                    condições deste cadastro *</mat-checkbox>
                <mat-error
                    *ngIf="cadastroForm.get('aceitarTermos')?.invalid && cadastroForm.get('aceitarTermos')?.dirty">
                    Você precisa aceitar os termos e condições para efetuar o cadastro
                </mat-error>
            </mat-card-content>

            <mat-card-actions class="full-width">
                <button [class.perfil-button]="perfilComponent" mat-flat-button [disabled]="cadastroForm.invalid"
                    (click)="executarAcao()" color="primary">{{textoBotao}}
                </button>
            </mat-card-actions>

        </form>
    </mat-card>
</app-container>
-->

<form [formGroup]="cadastroForm" class="container text-light p-4 pb-5">
    <legend class="text-center">
        <h2>{{titulo}}</h2>

        <section>
            <div class="acoesPerfil d-flex justify-content-between" *ngIf="perfilComponent">
                <h2>Dados pessoais</h2>
                <button class="btn btn-outline-light d-flex" (click)="deslogar()">
                    <mat-icon>logout</mat-icon>
                    DESLOGAR
                </button>
            </div>
        </section>
    </legend>

    <div class="dadosPessoais">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" id="nome" class="form-control" placeholder="Digite seu e-mail" formControlName="nome">
            <mat-error *ngIf="cadastroForm.get('nome')?.errors && cadastroForm.get('nome')?.touched">Nome é
                obrigatório</mat-error>
        </div>
        <div class="mb-3 d-flex">
            <div class="w-50 p-1">
                <label for="nascimento" class="form-label">Data de Nascimento</label>
                <input type="date" id="nascimento" class="form-control" placeholder="Data de Nascimento"
                    formControlName="nascimento">
                <mat-error
                    *ngIf="cadastroForm.get('nascimento')?.errors?.['required'] && cadastroForm.get('nascimento')?.touched">
                    Data de Nascimento é obrigatória
                </mat-error>
            </div>

            <div class="w-50 p-1">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="number" id="telefone" class="form-control" placeholder="Data de Nascimento"
                    formControlName="telefone" placeholder="+XX XXXX-XXXX" maxlength="11">
                <mat-error
                    *ngIf="cadastroForm.get('telefone')?.errors && cadastroForm.get('telefone')?.touched">Telefone é
                    obrigatório</mat-error>
            </div>
        </div>
    </div>

    <div class="DadosEmail">
        <h2>Dados de Acesso</h2>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" id="email" class="form-control" placeholder="Digite seu e-mail" formControlName="email">
            <mat-error
                *ngIf="cadastroForm.get('email')?.errors?.['required'] && cadastroForm.get('email')?.touched">E-mail
                é
                obrigatório</mat-error>
            <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email'] && cadastroForm.get('email')?.touched">E-mail
                inválido</mat-error>
        </div>
        <div class="mb-3">
            <label for="confirmarEmail" class="form-label">Confirme seu e-mail</label>
            <input type="text" id="confirmarEmail" class="form-control" placeholder="Confirme seu e-mail"
                formControlName="confirmarEmail">
            <mat-error
                *ngIf="cadastroForm.get('confirmarEmail')?.errors?.['required'] && cadastroForm.get('confirmarEmail')?.touched">Confirmação
                de
                E-mail é obrigatória</mat-error>
            <mat-error
                *ngIf="cadastroForm.get('confirmarEmail')?.errors?.['email'] && cadastroForm.get('confirmarEmail')?.touched">E-mail
                inválido</mat-error>
            <mat-error
                *ngIf="cadastroForm.get('confirmarEmail')?.errors?.['equalTo'] && cadastroForm.get('confirmarEmail')?.touched">E-mail`s
                precisam
                ser iguais</mat-error>
        </div>
    </div>

    <div class="dadosSenha">
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" id="senha" class="form-control" placeholder="Digite sua senha"
                formControlName="senha">
            <mat-error
                *ngIf="cadastroForm.get('senha')?.errors?.['required'] && cadastroForm.get('senha')?.touched">Senha é
                obrigatória</mat-error>
            <mat-error
                *ngIf="cadastroForm.get('senha')?.errors?.['minlength'] && cadastroForm.get('senha')?.touched">Senha
                deve ter pelo
                menos 3 caracteres</mat-error>
        </div>
        <div class="mb-3">
            <label for="confirmarSenha" class="form-label">Confirme sua senha</label>
            <input type="password" id="confirmarSenha" class="form-control" placeholder="Digite sua senha"
                formControlName="confirmarSenha">
            <mat-error
                *ngIf="cadastroForm.get('confirmarSenha')?.errors?.['required'] && cadastroForm.get('confirmarSenha')?.touched">Confirmação
                de
                Senha é obrigatória</mat-error>
            <mat-error
                *ngIf="cadastroForm.get('confirmarSenha')?.errors?.['equalTo'] && cadastroForm.get('confirmarSenha')?.touched">Senhas
                precisam
                ser iguais</mat-error>
        </div>
    </div>


    <div class="form-check mb-4" *ngIf="!perfilComponent">
        <input formControlName="aceitarTermos" class="form-check-input" type="checkbox" id="aceitarTermos">
        <label class="form-check-label" for="aceitarTermos">
            Li e aceito os termos e condições deste cadastro *
        </label>
        <mat-error *ngIf="cadastroForm.get('aceitarTermos')?.invalid && cadastroForm.get('aceitarTermos')?.dirty">
            Você precisa aceitar os termos e condições para efetuar o cadastro
        </mat-error>
    </div>

    <button [class.perfil-button]="perfilComponent" class="btn btn-outline-light w-100"
        [disabled]="cadastroForm.invalid" (click)="executarAcao()">
        {{textoBotao}}</button>
</form>