<!--
<mat-form-field class="input-container" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
     matInput 
    [name]="label"
    [formControl]="control"
    ngDefaultControl
    [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let barbeiro of filteredOptions$ | async" [value]="barbeiro">
          {{barbeiro.nome}}
        </mat-option>
      </mat-autocomplete>
</mat-form-field>
-->
<div class="mb-3">
  <label for="selectBarbeiros" class="form-label">Barbeiro</label>
  <select id="selectBarbeiros" class="form-select" [formControl]="control" [(ngModel)]="barbeiroSelecionado" (change)="emitBarbeiro()">
    <option *ngFor=" let barbeiro of barbeiros" [ngValue]="barbeiro">{{ barbeiro.nome }}</option>
  </select>
</div>