<!--
<section class="login-component text-light">
    <mat-card class="login">
        <div class="image-container">
            <figure>
                <img src="" alt="Imagem Login">
            </figure>
        </div>
        <div class="form-container">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <form [formGroup]="loginForm">
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input formControlName="email" matInput type="email" placeholder="Digite seu e-mail">
                        <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">E-mail é
                            obrigatório.</mat-error>
                        <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Formato de e-mail
                            inválido.</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input formControlName="senha" matInput type="password" placeholder="Digite sua senha">
                        <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">Senha é obrigatória.</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="loginForm.invalid" (click)="login()" mat-flat-button color="primary">ACESSAR
                        MINHA CONTA</button>
                </mat-card-actions>
                <P>Ainda não possui conta? <a routerLink="/cadastro"><strong><u>Clique aqui para se
                                cadastrar</u></strong></a></P>
            </form>
        </div>
    </mat-card>
</section>
-->

<form [formGroup]="loginForm" class="container text-light p-4 pb-5">
    <legend class="text-center">
        <h2>Login</h2>
    </legend>
    <div class="mb-3">
        <label for="login" class="form-label">E-mail</label>
        <input type="text" id="login" class="form-control" placeholder="Digite seu e-mail" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">E-mail é
            obrigatório.</mat-error>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" id="senha" class="form-control" placeholder="Digite sua senha" formControlName="senha">
        <mat-error *ngIf="loginForm.get('senha')?.errors?.['required'] && loginForm.get('senha')?.touched">Senha é
            obrigatória.</mat-error>
    </div>

    <button [disabled]="loginForm.invalid" (click)="login()" class="btn btn-outline-light w-100">
        ACESSAR MINHA CONTA</button>

    <P class="mt-3">Ainda não possui conta? <a routerLink="/cadastro"><strong><u>Clique aqui para se
                    cadastrar</u></strong></a></P>
</form>
<app-error-message [errorMessage]="mensagemErro"></app-error-message>