<!--
<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li>
                    <h2>Bravos Barber</h2>
                </li>
                <li>
                    Horário de atendimento: 09h - 18h (Segunda a Sábado)
                </li>
                <li>
                    Desenvolvido por <i> Toyo </i> Softwares House
                </li>
            </ul>
            <ul class="socials">
                <li>Acesse nossas redes:</li>
                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/whatsapp.png" alt="Ícone do whatsapp">
                    </button>
                    <button mat-icon-button>
                        <img src="assets/icones/instagram.png" alt="Ícone do instagram">
                    </button>
                    <button mat-icon-button>
                        <img src="assets/icones/twitter.png" alt="Ícone do twitter">
                    </button>
                </li>
            </ul>
        </div>
    </app-container>
</footer>
-->

<div class="card text-light">
    <div class="card-header">
        <h4>Bravos</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h6 class="card-title">Horário de atendimento: 09h - 18h (Segunda a Sábado)</h6>
                <p>Av. Ministro Edgard Romero xxx</p>
                <span>Acesse nossas redes:</span>
                <div class="redes">
                    <button mat-icon-button>
                        <img src="assets/icones/whatsapp.png" alt="Ícone do whatsapp">
                    </button>

                    <button mat-icon-button>
                        <img src="assets/icones/instagram.png" alt="Ícone do instagram">
                    </button>

                    <button mat-icon-button>
                        <img src="assets/icones/twitter.png" alt="Ícone do twitter">
                    </button>
                </div>
                
                <p class="card-text justfy-content-end">Desenvolvido por <i> Toyo </i> Softwares House</p>
            </div>
        </div>
    </div>
</div>